[Unit]
Description=LANnventory
Documentation=https://github.com/godlev/LANnventory
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/lannventory -d /etc/watchyourlan/
Restart=on-failure
RestartSec=5s
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
